################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrientacaoObjetos/.vs/OrientacaoObjetos
/OrientacaoObjetos/bin/Debug/net8.0
/OrientacaoObjetos/obj
